.CardBox {
  width: 20%;
  height: 300px;
  background-color: #0a0b0b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.Icondiv {
  display: flex;
  background-color: #ff575721;
  border-radius: 15px;
  padding: 10px;
}
.Title {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}
.TextCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.DescText {
  color: rgb(187, 188, 190);
  text-align: center;
  margin-top: 10px;
}
