.MainBox{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}
.catlist{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}