.MainBox{
    border: white 8px solid;
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(16deg, rgba(255,87,87,1) 39%, rgba(255,118,69,1) 100%);
    cursor: pointer;
    margin-bottom: 150px;
}
.MainBox2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  
    width: 100%;

}
.caticon{
    width: 150px;
}

.catTitle{
    color: black;
}